body header {
    background-color: #ddd;
}
body main {
    background-color: #ddd;
}
.Menu{ 
display: flex;
border: 5px;
border-radius: 12px;
width: 100%;
height: auto;
}
nav img {
    width: 110px;
    height: 110px;
    padding-top: -90px;
    padding-left: 30px;
}
nav a {
    text-decoration: none;
    color: #5f9d31;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    border: #ffff 3px;
    display: inline-block;
    text-align: center;
    padding-bottom: 15px;
    margin-left: 80px;
 }
 nav {
     padding-left: 10px;
     width: 100%;
     height: 100px;
     display: block;
 }
 .menu {
     padding-top: 25px;
     margin-left: 50px;
 }
 .foot{

display: flex;
padding-top: 30px;
padding-left: 200px;

 }
 .foot h3{
    
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
 }
 .bloc a{
     text-decoration: none;
     display: block;
     color: #fff;
    
 }
 .bloc {
     padding-left: 70px;
     color: #fff;
 }
 footer {
     width: 100%;
     height: 250px;
display: block;
background-color: #212529;
margin-top: 100px;
 }
 h5{
     color: #5f9d31;
     
 }
 h1 {
color: #f09200;
margin-left: 100px;
 }
 main p {
     font-size: 27px;
 }
 #s1 p {
padding-top: 30px;
 }
 #s2 {
     margin-top: 30px;
 }
 #s2 p {
     padding-top: 40px;
 }
 #s3 {
     margin-top: 30px;
     margin-left: 400px;
 }
 #s4 {
     margin-top: 35px;
 }
 #s4 p{
padding-top: 35px;
 }
 #s5 {
     margin-top: 35px;
 }
 #s5 p {
     padding-top: 45px;
 }